body {
    background-image: url("images/gravel.png");
}
div.container-sm {
    background: #ffffff;
    padding: 30px;
}
span#name {
    background: #4aaaa5;
    padding: 20px;
}

span.navbar-text h2 {
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 600;
}
a.nav-link {
    color: #777777;
}

.navbar {
    background: #ffffff;
    border-bottom: 2px solid #dddddd;
    padding: 0;
}
h2 {
    padding: 5px;
}
li {
    border-right: 1px solid #cccccc;
    line-height: 5px;
}
li:last-child {
    border: none;
}
div#body {
    border-top: 2px solid #777777;
    padding-top: 30px;
}
img {
    display: inline;
    float: left;
    margin-right: 10px;
}
img.port {
    margin: 30px;
}
section {
    margin-top: 50px;
    margin-bottom: 100px;
    width: auto;
}
h3 {
    color: #4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
}

p {
    line-height: 2em;
}

div.card {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
}
div.card p {
    color: #cccccc;
    font-size: .75em;
}

@media screen and (max-width: 768px) {
    span#name {
        width: 100%;
        text-align: center;
    }
    ul {
        padding: 10px;
    }
}